<h2>Lista de Cursos</h2>

<mat-card>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let curso">{{ curso.nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="duracion">
      <th mat-header-cell *matHeaderCellDef>Duración</th>
      <td mat-cell *matCellDef="let curso">{{ curso.duracion }}</td>
    </ng-container>

    <ng-container matColumnDef="nivel">
      <th mat-header-cell *matHeaderCellDef>Nivel</th>
      <td mat-cell *matCellDef="let curso">{{ curso.nivel }}</td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let curso; let i = index">
        <button mat-button color="accent" (click)="editarCurso(i)">Editar</button>
        <button mat-button color="warn" (click)="eliminarCurso(i)">Eliminar</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>

<br />

<h2>Agregar / Editar Curso</h2>
<mat-card>
  <form [formGroup]="formularioCurso" (ngSubmit)="guardarCurso()">

    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Duración</mat-label>
      <input matInput formControlName="duracion" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nivel</mat-label>
      <input matInput formControlName="nivel" required>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="formularioCurso.invalid">
      {{ editandoIndex !== null ? 'Actualizar Curso' : 'Agregar Curso' }}
    </button>
  </form>
</mat-card>
